
body {
    font-family: "Josefin Sans";
    font-size: 18px;
    color: rgba(68, 99, 129, 1);
    background: rgba(255, 230, 215, 1);
    background-image:url(assets/image\ 3.png);
    background-repeat: no-repeat;
    background-size: 1440px 844px;
    background-position:top;
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    max-height: 78px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1167px;
}
.left-flex {
    display: flex;
    align-items: center;
}
.right-flex {
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 140px;
    margin-right: 250px;
}
.nav-flex a {
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: rgba(68, 99, 129, 1);
}
.started {
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, rgba(68, 153, 217, 1), rgba(115, 103, 190, 1));
    margin-right: 133px;
    font-family: "Josefin Sans";
}
.gaming-consoles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 121px;
    margin-right: 61px;
}
.consoles-content {
    width: 529px;
}
.consoles-text {
    color: rgba(130, 111, 140, 1);
    line-height: 30px;
    margin-bottom: 50px;
}
.consoles-title {
    color: rgba(235, 131, 130, 1);
    font-size: 50px;
    margin-top: 38px;
    margin-bottom: 16px;
}
.consoles-title-1 {
    font-size: 50px;
    margin: 0;
}
.consoles-character {
    width: 735px;
}
.consoles-button {
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, rgba(68, 153, 217, 1), rgba(115, 103, 190, 1));
    font-family: "Josefin Sans";
}
.consoles {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    margin-right: 33px;
}
.consoles-head {
    display:flex;
    align-items: center;
    margin: 0;
}
.illustration {
    margin-left: 84px;
}
.about-VR-glasses {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.VR-content {
    margin-left: 77px;
    margin-right: 132px;
}
.VR-text {
    color: rgba(130, 111, 140, 1);
    line-height: 30px;
    margin-bottom: 40px;
    width: 518px;
}
.VR-title {
    color: rgba(235, 131, 130, 1);
    font-size: 50px;
    margin-bottom: 0;
}
.VR-button {
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, rgba(68, 153, 217, 1), rgba(115, 103, 190, 1));
    font-family: "Josefin Sans";
}
.VR-head {
    font-size: 23px;
}
.arrows {
    margin-left: 60px;
}
.PS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/image\ 14.png);
    background-repeat: no-repeat;
    background-size: auto 844px;
    margin-top: 90px;
}
.img {
    margin-right: 39px;
}
.PS-content {
    margin-left: 140px;
    width: 530px;
}
.PS-button {
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, rgba(68, 153, 217, 1), rgba(115, 103, 190, 1));
    font-family: "Josefin Sans";
}
.PS-title {
    color: rgba(235, 131, 130, 1);
    font-size: 50px;
    margin-bottom: 0;
}
.PS-text {
    color: rgba(130, 111, 140, 1);
    line-height: 30px;
    margin-bottom: 40px;
}
.PS-head {
    font-size: 23px;
}
.price-title {
    text-align: center;
}
.cards {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.card1 {
margin-left: 150px;
background-color: rgba(251, 218, 207, 1);
}
.card2 {
    margin-left: 50px;
    margin-right: 50px;
    background: linear-gradient(to bottom, rgba(68, 99, 129, 1), rgba(130, 111, 140, 1));
}
.card3 {
    margin-right: 134px;
    background-color: rgba(251, 218, 207, 1);
}
.list-1 {
    list-style-image: url(assets/Vector\ \(2\).png);
}